*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #fafaff;
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;

}


/* header */
.header {
    background-color: #30343F;
    color: #FAFAFF;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    display: flex;
    align-items: center;
    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
    margin-left: 0;
    min-height: 5vh;
    margin-bottom: 2%;
}

.logo {
    margin-right: 1.04%;
    
}

.menu {
    /* display:flex; */
    flex: 1;
    text-align: right;
    margin-right: 5%;
}

.menu a {
    color: #fafaff;
    text-decoration: none;
    margin: 0 1%;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid transparent;   
    padding-bottom: 0.5%;   
}

.menu a:hover {
    border-bottom: 2px solid aquamarine ;
}

#current-page{
    color: aquamarine;
    border-bottom: 2px solid #FAFAFF;
}



/* title heading */

section{
    text-align: center;
    margin-bottom: 2%;
}
.heading-home{
    color: #30343F;
    font-size: 2rem;
}

.fd{
    color: #273469;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

/* buttons */
.button-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 10vh;
    margin-bottom: 2%;
    color: #FAFAFF;

}

.button-container a{
    text-decoration: none;
    color: #FAFAFF;
}

button{
    text-align: center;
    background-color: #3a0ca3;
    color: #FAFAFF;
    padding: 1%;
    align-items: center
    

}

.but-1{
    font-size: 1.2rem;
    height: 7.5vh;
    margin-right: 5%;
}

.but-2{
    font-size: 1.2rem;
    height: 7.5vh;
}

button:hover{
    background-color: #2a9d8f;
    border: 2px solid black;
    
}


/* tagline */
.tagline{
    text-align: center;
    align-items: center;
    font-size: larger;
    margin-bottom: 2%;
}



/* footer */

footer{
    background-color: #30343f;
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fafaff;
    
}


.container{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2%;
    font-family: 'Roboto', serif;
}

.column-container{
    display: flex;
    padding-left: 1%;
    align-items:flex-start;
    align-content: center;
}

.column {
    flex: 1;
    padding: 2%;
    border-left: 1px solid #fafaff;}

    .column:first-child{
        border-left: none;
    }



.column a{
    text-decoration: none;
    color: #fafaff;
}

.column a:hover{
    color: aquamarine;
}

.heading-footer{
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1%;
}
.normal-text{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto';
}