*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* header */
.header{
    background: #262626;
    display: flex;
    align-items: center;

    position: relative;
    top: 0;
    left: 0;

    min-height: 5vh;
    margin-bottom: 2%;
}

.logo{
    margin-left: 1vw;
}

.logo img{
    
    height: 70px;
}

.menu {
    /* display:flex; */
    flex: 1;
    text-align: right;
    margin-right: 5%;
}


.menu a {
    color: #fafaff;
    text-decoration: none;
    margin: 0 1%;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid transparent;   
    padding-bottom: 0.5%;   
    cursor: pointer;
 
}

.menu a:hover {
    border-bottom: 2px solid aquamarine ;
}

#current-page{
    color: aquamarine;
    border-bottom: 2px solid #FAFAFF;
}







.sec-1{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin: 0 2vw 2vh 2vw;
}

.sec-1 h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #3a0ca3;
    padding-bottom: 2vh;
}


.most-imp{
    margin: 0 2vw;
    padding: 0.5vh 4vw;
    margin-bottom: 2vh;
    font-size: 16px;
    line-height: 2;
}

.most-imp div{
    font-size: 18px;
    text-align: center;
    color: red;
}

.list{
    /* border: 2px solid black; */
    margin: 0 2vw;
    padding: 0.5vh 4vw;
    text-align: left;
    margin-bottom: 2vh;
}

.list ol li{
    font-size: 18px;
    color: #032B43;
    font-weight: 800;
}

.list ol ul{
    padding-left: 3vw;
}
.list ol ul li{
    font-size: 16px;
    font-weight: 400;
    color: #30343f;
    line-height: 2;
}

.list ol p{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #30292F;
    margin: 2vh 0;
}

.info{
    border: 1px solid black;
    background-color: rgba(128,128,128, 0.25);
    margin: 0 2vw;
    padding: 0.5vh 4vw;
    text-align: left;
    margin-bottom: 5vh;
    font-size: 14px;
}
.ref-head{
    color: black;
    font-size: 16px;
    text-align: center;
}

.refrence{
    
    font-weight: bold;
    text-decoration: none;
    color: #2200cc;
}